.wrapper {
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;
  .row-blogs {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}

input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}

.user-info {
    color: #888;
    margin: 1em 0;
    font-size: 13px;
}

.user-info-content{
  display: inline-block;
}

.user-info-content-avatar img{
  width: 24px;
  border-radius: 50%;
  margin-top: -2px;
}
